{% extends 'base.html.twig' %}

{% block title 'Voir tous nos biens' %}
{% block body %}
    <div class="container mt-4">
        <h1>Voir tous nos biens</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non eligendi maiores mollitia adipisci recusandae ratione, cupiditate aliquam distinctio consequatur id dolorum voluptatibus odio harum animi minus nulla nostrum dolore doloremque.</p>
    </div>
{% endblock body %}
